## Data El Niño–Southern Oscillation 2001 - 2023

In [1]:
# pustaka manipulasi data array
import numpy as np

# pustaka manipulasi data frame
import pandas as pd

# pustaka untuk visualisasi data
import matplotlib.pyplot as plt

- Load SST Nina 3.4

In [5]:
df_sst = pd.read_excel("dataset/dataset_enso.xlsx", sheet_name="SST Results", parse_dates=["acq_date"])
df_sst.info()

In [8]:
df_sst

          date  anomali  standard
0   2001-01-31    -0.76     25.81
1   2001-02-28    -0.56     26.18
2   2001-03-31    -0.37     26.86
3   2001-04-30    -0.56     27.24
4   2001-05-31    -0.46     27.42
..         ...      ...       ...
271 2023-08-31     1.30     28.20
272 2023-09-30     1.53     28.29
273 2023-10-31     1.59     28.36
274 2023-11-30     1.90     28.72
275 2023-12-31     1.99     28.64

[276 rows x 3 columns]

- Load Index ONI

- Load Index SOI